.flagHeader {
  width: 80px;
}

.headers {
  width: 200px;
}

.flagHeader,
.headers {
  text-align: left;
}

.tableWrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th {
  height: 50px;
  border-bottom: 1px solid var(--stroke);
  font-size: var(--fs-1);
  font-weight: var(--fw-1);
}

td {
  height: 64px;
  font-size: var(--fs-3);
}

.message {
  height: 120px;
  padding-left: 20px;
}

@media screen and (min-width: 1024px) {
  .message {
    height: 200px;
    padding: 0;
    text-align: center;
  }
}
