.flagHeader {
  width: 80px;
}

.headers {
  width: 200px;
}

.flagHeader,
.headers {
  text-align: left;
}

.tableWrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th {
  height: 50px;
  border-bottom: 1px solid var(--stroke);
  font-size: var(--fs-1);
  font-weight: var(--fw-1);
}

td {
  height: 64px;
  font-size: var(--fs-3);
}
