.title {
  margin-bottom: 12px;
  font-size: var(--fs-1);
}

.tagContainer {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  width: 80%;
}

.regionTag {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 12px;
  font-size: 14px;
  border-radius: 12px;
  color: var(--light-text);
  font-size: var(--fs-2);
}

.regionTag:hover {
  background-color: var(--light-bg);
}

.tagSelected {
  background-color: var(--light-bg);
}
