.main {
  width: 94%;
  margin: 0 auto;
  padding: 24px 12px;
  gap: 36px;
  border: 1px solid black;
  border-radius: 12px;
  margin-top: -130px;
  position: relative;
  z-index: 1;
  background-color: gray;
}

.main,
.upperRow,
.bottomRow,
.filterOptions {
  display: flex;
  flex-direction: column;
}

.bottomRow,
.filterOptions {
  gap: 32px;
}

.upperRow {
  gap: 24px;
}

@media screen and (min-width: 1024px) {
  .main {
    margin-top: -80px;
    padding: 24px 24px;
  }

  .upperRow {
    flex-direction: row;
    justify-content: space-between;
  }

  .bottomRow {
    flex-direction: row;
  }

  .filterOptions {
    flex-basis: 261px;
  }

  .countryTable {
    flex-basis: 601px;
    flex-grow: 1;
  }
}
