.main,
.searchResults,
.countryWrapper {
  display: flex;
  flex-direction: column;
}

.main {
  width: 94%;
  margin: 0 auto;
  padding: 0 12px;
}

@media only screen and (min-width: 1024px) {
  .searchResults,
  .countryWrapper {
    flex-direction: row;
  }

  .main {
    padding: 0 32px;
  }

  .searchResults {
    justify-content: space-between;
  }

  .countryWrapper {
    gap: 32px;
  }

  .filters {
    flex-basis: 261px;
  }

  .country {
    flex-basis: 601px;
    flex-grow: 1;
  }
}

@media only screen and (min-width: 1350px) {
  .main {
    width: 95%;
  }

  .country {
    flex-basis: 929px;
  }
}
