.title {
  margin-bottom: 12px;
}

.dropdown {
  width: 100%;
  height: 40px;
  border-radius: 11px;
  background-color: var(--dark-bg);
  border: 1px solid var(--stroke);
  color: var(--light-text);
  padding: 10px;
  outline: none;
  cursor: pointer;
}
