.title {
  margin-bottom: 12px;
  font-size: var(--fs-1);
}

.content {
  z-index: 1;
  background-color: var(--dark-bg);
  border: 1px solid var(--stroke);
  border-radius: 8px;
  min-width: var(--radix-select-trigger-width);
  cursor: pointer;
}

.trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  height: 40px;
  border-radius: 11px;
  background-color: var(--dark-bg);
  border: 1px solid var(--stroke);
  color: var(--light-text);
  width: 100%;
  cursor: pointer;
  outline: none;
  font-family: inherit;
  font-size: var(--fs-2);
}

.item {
  padding: 10px;
  outline: none;
  font-size: var(--fs-2);
}

.item:hover,
.item:focus {
  background-color: var(--light-bg);
}
