.title {
  margin-bottom: 12px;
  font-size: var(--fs-1);
}

.statusWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  font-size: var(--fs-2);
  font-weight: var(--fw-1);
}

.checkboxSquare {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.checkboxItem {
  display: flex;
  gap: 10px;
  align-items: center;
}

.checkmark {
  width: 20px;
}

.checkboxSquare,
.checkmarkWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
